@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html, body {
    font-family: 'Kanit', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
